<h2>New Celebrity</h2>
<form method="POST" action="/celeb/create">
    <label>
        Name: <input name="name" />
    </label>
    <label>
        Occupation <input name="occupation">
    </label>
    <label>
        Catchphrase <input name="catchPhrase">
    </label>
    <button type="submit">Create New Celebrity</button>
</form>